{% extends "base.html" %}
{% block title %} Curait Study

{% endblock %}
{% block content %}
<html lang="en">
<head>
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/index.min.css')}}">

</head>




<header class="masthead text-align-top text-center text-white">


</br><h1>Select Your Parameters</h1></br>

    <form action="{{ url_for('playlist') }}" method="POST">
         <div class="form-group" id = 'genre_selector'>
        <h3> Select a Genre </h3>
        <select id = 'genre' class="form-select" aria-label="Default select example" name ='genre' onchange="myFunction()">
          <option value="" disabled selected>Select a Genre</option>
          <option value="Lofi">Lofi</option>
          <option value="Classical">Classical</option>
          <option value="Jazz">Jazz</option>
        </select>
    </div>

    <span class="border">
        <div>
         <h4 id = 'presets'></h4>
         <h5 id = 'presetslofi'></h5><br>
     </div>
     </span>


        <div class="form-group" id="danceability">
            <h4> Adjust the DANCEABILITY of your playlist? </h4>
            <h5> 0 Least DANCEABLE | 10 Most DANCEABLE </h5>
            <input name='danceability' type="range" value="5" min="0" max="10" oninput="this.nextElementSibling.value = this.value">
            <output>5</output>
        </div>

        <div class="form-group" id="instrumentalness">
            <h4> Adjust the INSTRUMENTALNESS of your playlist? </h4>
            <h5> 0 Least INSTRUMENTAL | 10 Most INSTRUMENTAL </h5>
            <input name='instrumentalness' type="range" value="5" min="0" max="10" oninput="this.nextElementSibling.value = this.value">
            <output>5</output>
        </div>

        <div class="form-group" id="energy">
            <h4> How much ENERGY do you want the playlist to have? </h4>
            <h5> 0 Lowest Energy | 10 Highest Energy </h5>
            <input name='energy' type="range" value="5" min="0" max="10" oninput="this.nextElementSibling.value = this.value">
            <output>5</output>
        </div>

        <div class="form-group" id="valence">
            <h4> What MOOD do you want the playlist to be? </h4>
            <h6> Did you know... Most music is actually melancholy </h6>
            <h5> 0 More Melancholy | 10 More Cheerful </h5>
            <input name='valence' type="range" value="5" min="0" max="10" oninput="this.nextElementSibling.value = this.value">
            <output>5</output>
        </div>


        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create Your Playlist</button>
        </div>
    </form>



<script>
function myFunction() {
  var x = document.getElementById("genre").value;
  if (x == 'Lofi') {
        document.getElementById("presets").innerHTML = "Our Reccomendations For: " + x;
        document.getElementById("presetslofi").innerHTML = "DANCEABILITY: 6" + "<br>" + "INSTRUMENTALNESS: 8" + "<br>" + "ENERGY: 2" + "<br>" + "MOOD: 3";
  } else if (x == 'Classical') {
      document.getElementById("presets").innerHTML = "Our Reccomendations For: " + x;
      document.getElementById("presetslofi").innerHTML = "DANCEABILITY: 3" + "<br>" + "INSTRUMENTALNESS: 9"+ "<br>" + "ENERGY: 2" + "<br>" + "MOOD: 2";
  } else if (x == 'Jazz') {
      document.getElementById("presets").innerHTML = "Our Reccomendations For: " + x;
      document.getElementById("presetslofi").innerHTML = "DANCEABILITY: 7" + "<br>" + "INSTRUMENTALNESS: 3"+ "<br>" + "ENERGY: 2" + "<br>" + "MOOD: 3";
  }

}
</script>

</header>
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Curait Study 2021</p>
    </div>
    <!-- /.container -->
</footer>




{% endblock %}
