{% extends "base.html" %}
{% block title %} Curait Study

{% endblock %}
{% block content %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/index.min.css')}}">

</head>



<header class="masthead text-center text-white">


    <h2>Select Your Parameters</h2></br>

    <form action="{{ url_for('playlist') }}" method="POST">
        <div class="form-group">
            <h3> Select a Genre </h3>
            <select class="form-select" id="genre" name="genre">
                <option value="Lofi">Lofi</option>
                <option value="Classical">Classical</option>
                <option value="Jazz">Jazz</option>
        </div>


        <div class="form-group" id="danceability">
            <h4> What DANCEABLITY do you want the playlist? </h4>
            <h6> 0 Least DANCEABLE | 10 Most DANCEABLE </h6>
            <input name='danceability1' type="range" value="5" min="0" max="10" oninput="this.nextElementSibling.value = this.value">
            <output>5</output>
        </div>
        <div class="form-group" id="danceability">
            <h4> What DANCEABLITY do you want the playlist? </h4>
            <h6> 0 Least DANCEABLE | 10 Most DANCEABLE </h6>
            <input name='danceability' type="range" value="5" min="0" max="10" oninput="this.nextElementSibling.value = this.value">
            <output>5</output>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create Your Playlist</button>
        </div>
    </form>
</header>

<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Curait Study 2021</p>
    </div>
    <!-- /.container -->
</footer>




{% endblock %}
